<div style="background-color: rgb(221, 148, 53);">
  <h2>Agent types:</h2>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let type of types">
        {{type.host}}@{{type.module}}@{{type.name}}
    </mat-list-item>
  </mat-list>
  <h2>Start agent</h2>
  <div style="width: 100%; height: max-content;">
    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Select agent type</mat-label>
        <mat-select [(value)]="type">
          <mat-option [value]="t" *ngFor="let t of types">{{t.host}}@{{t.module}}@{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="width: 100%;">
      <mat-form-field style="width: 100%;">
        <mat-label>Agent name</mat-label>
        <input matInput id="nameInput" #name = "ngModel" name="c1" [(ngModel)] = "agentName"/>
      </mat-form-field>
    </div>
    <button mat-stroked-button (click)="start()" style="margin-left: 40%; width: 20%;">Start</button>
  </div>
  <h2>Running agents:</h2>
        <app-running-agents></app-running-agents>
  
</div>
